body {
    font-family: Tahoma, Geneva, sans-serif;
}

.create-units-control {
    width : 140px;
    height : 160px;
    position : absolute;
    background-color: #BCB;
    display : none;
    padding : 20px;
}

.unit-thumb {
    float : left;
    padding : 10px;
    cursor : pointer;
}